<h1>Sale#index</h1>
<p>Find me in app/views/sale/index.html.erb</p>
<a href="https://bulk-discount-first.myshopify.com/admin/oauth/authorize?client_id=0725e5fa38b0a3ba3424806628c6d5bc&scope=read_products,write_orders,write_products&redirect_uri=http://localhost:3000/auth/shopify/callback
"> Authorize with Shopify</a>
